body{
    width: 100%;
    margin: 0;
    padding: 0;
}

.jumbotronPage, .loremPage{
    height: 100vh;
    /* width: 100%; */
}

.loremPage2 .row1, .loremPage2 .row2{
    height: 50vh;
    /* width: 100%; */
}

.frPage1 .row{
    height: 100vh;
    /* width: 100%; */
}

.frPage2 .row{
    height: 100vh;
    /* width: 100%; */
}